extends layout

block content
  h1 #{title}: #{book.title}
  p #[strong Author:] #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:]&nbsp;
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length -1
        |,

  form(method='POST' action='')
    button.btn.btn-primary(type='submit') Delete
